.container-fluid
  .navbar
    .leftNav.col-md-8 emergency compliment
    .rightNav.col-md-4
      %span
        %a{:href => "http://www.instagram.com/king0120"}
          %i{:class => "fa fa-instagram fa-3x"}
      %span
        %a{:href => "http://www.twitter.com/jking0120"}
          %i{:class => "fa fa-twitter fa-3x"}
  .compliment
    %h1= @compliment
    %h3= @color

  - if @name_render != false
    = haml :names
  %br/
  .centerer
    %a{:href => ".", :class => "center"} again!
    %a{:href => "#", :class => "center js-btn"} add?
  .add.center-block
    %h3 Add your own compliment or color:
    %form{:action => "/", :method => 'POST', :class => 'form-horizontal'}
      .col-sm-2
      %label{:for => "new_compliment", :class => 'col-sm-2 control-label'}New Compliment
      .col-sm-5
        %input{:type => "text", :name=>'new_compliment', :class => 'form-control'}
      %br/
      %br/
      .col-sm-2
      %label{:for => "new_background", :class => 'col-sm-2 control-label'}New Background
      .col-sm-5
        %input{:type => "text", :name=>'new_background', :class => 'form-control'}
      %br/
      %br/
      .col-sm-2
      .col-sm-offset-4.col-sm-10
        %input{:type => "submit", :class => 'btn btn-default'}
